In [1]:
import deepcut

import re
import pandas as pd
import numpy as np

from nltk import FreqDist, precision, recall, f_measure, NaiveBayesClassifier
from nltk.classify import apply_features
from nltk.classify import util
import collections, itertools
from sklearn.model_selection import KFold

In [2]:
positive = [(line.strip(), 'pos') for line in open("positive.txt", 'r',encoding="utf8")]
negative = [(line.strip(), 'neg') for line in open("neg.txt", 'r',encoding="utf8")]

In [3]:
data = pd.DataFrame(positive,columns=['word','label'])
data = data.drop_duplicates(keep='first')

In [4]:
data.describe()

            word label
count        321   321
unique       321     1
top     สนุกสนาน   pos
freq           1   321

In [5]:
data2 = pd.DataFrame(negative,columns=['word','label'])
data2 = data2.drop_duplicates(keep='first')
data2.describe()

         word label
count    1282  1282
unique   1282     1
top     เห็บห   neg
freq        1  1282

In [6]:
data = data.append(data2)
data

             word label
0          กตเวที   pos
1          กตัญญู   pos
2            กล้า   pos
3           กรุณา   pos
4          กันเอง   pos
...           ...   ...
1902   อีชาติชั้ว   neg
1903   อีช้างเย๊ด   neg
1905  อยากเอาหญิง   neg
1907         ทมิฬ   neg
1908    ลูกโสเภณี   neg

[1603 rows x 2 columns]

In [7]:
data = data.append(data2)
data = data.drop_duplicates(keep='first')
data.describe()

        word label
count   1603  1603
unique  1600     2
top     ทรหด   neg
freq       2  1282

In [8]:
data.to_csv(r'word.csv', index = False)